@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control w-25" placeholder="Enter your name" name="Username" />
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Hello">Submit</button>
</form>
